html {
	box-sizing: border-box;
}


body {
	background-image: url(../images/crystals-banner-1.jpg);
    background-size: cover;
	background-repeat: no-repeat;
}


p {
	font-size: 20px;
	color: rgb(54, 3, 52);
}

.header {
	padding: 0px;
	/* color: grey; */
}

.target-number, #randomNumber {
	color: rgb(2, 2, 65);
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 3px;
}

h3 {
	margin: 20px 0px 10px 0px;
	letter-spacing: 2px;
}

h3, #totalScore {
	color: rgb(160, 5, 5);
}



h1 {
	color: rgb(100, 12, 12);
	margin: 20px auto;
	letter-spacing: 10px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 55px;
	font-weight: bold;
}

.crystalimg {
	width: 110px;
	height: 110px;
	margin: 10px auto;
}

.crystalimg:hover {
	opacity: 0.4;
}

.directions {
	color: black;
	font-weight: 600;
	text-align: center;
	padding: 25px 25px;
	text-align: justify;
	letter-spacing: 1px;
	margin: auto;
}


#wins, #losses, .score {
	padding-top: 10px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 2px;
	color: yellow;
}

.total {
	border-bottom: 3px solid rgb(160, 5, 5);
}

.scores {
	background-color: rgb(71, 3, 51);
	opacity: 0.5;
	border-radius: 20px;
	border: 4px solid rgb(17, 0, 15);
}

.good-luck {
	font-size: 36px;
	font-weight: 900;
	font-family: 'Courier New', Courier, monospace;
	color: rgb(72, 12, 100);
	text-align: center;
	letter-spacing: 3px;
	line-height: 100px;
}


#winOrLose {
	font-size: 36px;
	color: rgb(3, 3, 114);
	font-weight: 900px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: bold;
}


/* 
#winImage {
	width: 100px;
	height: 100px;
} 
*/


